---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
    			flex-direction: column; /* CORRECTO */
    			flex-wrap: wrap;
    			gap: 2rem;
    			list-style-type: none;
    			margin: 0;
    			padding: 0;
			}
			ul li {
				border-bottom: 1px solid #eee;
    			padding-bottom: 2rem;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100% !important;
    			margin-top: 0 !important; /* Añade esto */
    			margin-bottom: 2rem !important; /* Dale el mismo margen que a los demás */
    			text-align: left;
			}
			ul li:first-child img {
				width: 300px !important;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				width: 300px !important;   
    			height: 200px !important;  
    
    			object-fit: cover !important; 
    			aspect-ratio: 3 / 2;
    
    			flex-shrink: 0; /* Impide que el texto empuje la imagen y la encoja */
    			border-radius: 12px;
			}
			ul li a {
				display: flex;
    			flex-direction: row; /* Imagen a la izquierda, texto a la derecha */
    			gap: 2rem;
    			align-items: flex-start;
    			text-decoration: none;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			.description {
    			margin: 0.5rem 0;
    			color: rgb(var(--gray));
    			font-size: 1.1rem;
    			line-height: 1.4;
    			display: -webkit-box;
    			-webkit-line-clamp: 3;
    			-webkit-box-orient: vertical;  
   			 	overflow: hidden;
			}
			.content-text {
    			display: flex;
    			flex-direction: column;
    			justify-content: flex-start; /* Alinea arriba */
    			padding-top: 0.5rem
			}
			ul li:last-child {
    			border-bottom: none;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header/>
		<main>
			<section>
				<ul>
					{
						posts.map((post,index) => (
							<li>
								<a href={`/mi_blog/blog/${post.id}`}>
						<Image width={720} height={360} src={post.data.heroImage} alt={post.data.title} loading={index === 0 ? "eager" : "lazy"} />
    <div class="content-text">
        <h4 class="title">{post.data.title}</h4>
        <p class="description">
            {post.data.description}
        </p>
        <p class="date">
            <FormattedDate date={post.data.pubDate} />
        </p>
    </div>
</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer/>
	</body>
</html>
