---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import miFoto from '../assets/eloy.jpg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0,1);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.imagen {
				border-radius: 50%; 
				width: 250px; 
				height: 250px; 
				object-fit: cover; 
				display: block;
				margin: 0 auto;
			}
			.Titulo{
				text-align: center; /* Esto centra el texto */
    			display: block;
    			margin: 20px auto;
			}
			.latest-posts {
				max-width: 800px;
				margin: 4rem auto;
				padding: 0 1rem;
			}
			.grid-posts {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: 2rem;
			}
			.post-card {
    			border: 2px solid; 
    			padding: 1.5rem;
    			border-radius: 12px;
    			background-color: #ffffff;
    			transition: transform 0.2s, box-shadow 0.2s;
    			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
			}
			.post-card:hover {
    			transform: translateY(-8px); 
    			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    			border-color: #d10d0d;
			}
</style>
		   
	</head>
	<body>
		<Header/>
		<main>
			<img src={miFoto.src} alt="Mi Foto de Perfil" class= "imagen"/>
		
			<h1 class="Titulo">Bienvenidos</h1>

			<p>Soy Eloy, y mi cabeza nunca descansa. Este blog es el lugar donde deposito mis pensamientos antes de que se pierdan en el ruido diario. Desde el análisis político hasta las ideas más abstractas que me asaltan un martes cualquiera, aquí encontrarás un mapa de lo que estoy intentando comprender sobre el mundo. Bienvenido a mi cajón de sastre personal.</p>
			<section class="latest-posts">
  				<h3>Ultimo Post:</h3>
  				<div class="grid-posts">
    				{
     		 			posts.map((post) => (
								<article class="post-card">
									<h4 class="title">{post.data.title}</h4>
                        			<p class="description">{post.data.description}</p>
									<a href={`/blog/${post.id}/`}>Leer más →</a>
    							</article>))
					}
 				</div>
			</section>
		</main>
		<Footer/>
	</body>
</html>
